---
import { cn } from "@lib/utils";
import Container from "./Container.astro";
import { button } from "@tailus/themer-button";
import Frame from "./Frame.astro";
---

<section class="relative overflow-hidden scroll-mt-24" id="home">
  <div
    aria-hidden
    class="opacity-0 dark:opacity-25 absolute [background-image:radial-gradient(theme(colors.gray.500),transparent_50%)] top-0 w-[1000px] z-10 h-[800px] left-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none"
  >
  </div>
  <Container>
    <div class="relative pt-32 sm:pt-44 ml-auto">
      <div class="lg:w-2/3 text-center mx-auto">
        <h1
          class="text-gray-900 dark:text-white font-bold text-4xl sm:text-5xl md:text-6xl"
        >
          Anchor your browsing.
        </h1>
        <p
          class="max-w-xl text-xl mx-auto mt-8 text-gray-700 dark:text-gray-300"
        >
          Harbor is your safe port for browser tabs, sessions, and online
          productivity.
        </p>
        <p class="max-w-xl text-xl mx-auto text-gray-700 dark:text-gray-300">
          Organize tabs, navigate seamlessly, pick up right where you left off.
        </p>
        <div class="mt-8 flex flex-wrap justify-center gap-4">
          <Frame>
            <a
              href="https://chrome.google.com/webstore/detail/your-extension-id"
              target="_blank"
              rel="noopener noreferrer"
              class={cn(button.primary.lg)}
            >
              <img class="w-6 h-6 mr-2" src="/chrome.svg" alt="Chrome" />
              Chrome
            </a>
          </Frame>
          <Frame>
            <a
              href="https://microsoftedge.microsoft.com/addons/detail/your-extension-id"
              target="_blank"
              rel="noopener noreferrer"
              class={cn(button.secondary.lg)}
            >
              <img class="w-6 h-6 mr-2" src="/microsoft-edge.svg" alt="Edge" />
              Edge
            </a>
          </Frame>
        </div>
      </div>
    </div>
  </Container>
</section>
